* {
  margin: 0;
  padding: 0;
}
.app {
  background-color: #382bdb;
  background-color: #808fa1;
  background-color: #f1f4f9;
  display: flex;
  /* {#382bdb} */
  /* {#808fa1} */
  /* {#f1f4f9} */
}
.home {
  width: 80%;
  margin: 30px auto;
}
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
